body {
    background: #ffffff;
    background-size: cover;
    background-attachment: fixed;
    color: #757575;
    font-family: 'Consolas', Arial, Helvetica, sans-serif;
    margin: 0;
}
.ticketBox {

}
.title {
  position: absolute;
  width: 100px;
  text-align: center;
  right: 50px;
  color: #000000;
  font-weight: bold;
}
.addTicket {
  float: right;
  margin-bottom: 20px;
}
